<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row[platform_id]" value="{$row.platform_id}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Platform_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-platform_code" data-rule="required" class="form-control" name="row[platform_code]" type="text" value="{$row.platform_code|htmlentities}" placeholder="英文字母小写,例如：amazon">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Platform_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-platform_name" data-rule="required" class="form-control" name="row[platform_name]" type="text" value="{$row.platform_name|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
