<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="row[currency_id]" value="{$row.currency_id}">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Currency_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-currency_code" data-rule="required" class="form-control" name="row[currency_code]" type="text" value="{$row.currency_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Currency_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-currency_name" data-rule="required" class="form-control" name="row[currency_name]" type="text" value="{$row.currency_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Currency_symbol')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-currency_symbol" data-rule="required" class="form-control" name="row[currency_symbol]" type="text" value="{$row.currency_symbol|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Currency_rate')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-currency_rate" data-rule="required" class="form-control" step="0.0000000001" name="row[currency_rate]" type="number" value="{$row.currency_rate|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
