<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Warehouse_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-warehouse_code" data-rule="required" class="form-control" name="row[warehouse_code]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Warehouse_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-warehouse_name" data-rule="required" class="form-control" name="row[warehouse_name]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Warehouse_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::radios('row[warehouse_status]', get_enable_disable_status(), 1, ['data-rule'=>'required'])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
